body {
  font-family: "Montserrat";
  background-color: #f9d371;
  color: black;
  text-align: center;
}

::selection {
  background-color: #b285f7;
}

.main-div {
  width: 50%;
  margin: 1rem auto;
}

@media (max-width: 1200px) {
  .main-div {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .main-div {
    width: 90%;
  }
}

.container-fluid {
  text-align: center;
  margin: 1% auto;
  padding: 1% 0;
}

p {
  line-height: 1.5rem;
  margin: 0.25rem auto;
}

h1 {
  margin: 0 0 0.25rem;
}

h5 {
  margin: 0 0 1rem;
}

h6 {
  margin: 0;
}

img {
  height: 40px;
  margin: 1.5rem 2.5rem 0;
}

.fa-right {
  margin-left: 0.8rem;
}

.fa-left {
  margin-right: 0.8rem;
}

.btn,
.btn:active,
.btn:focus,
.btn:disabled {
  transition-duration: 0.25s;
  background-color: #f47340;
  color: white;
  border-width: 0 0 0.3rem;
  border-color: #8843f2;
  box-shadow: 0 0.25rem 0.5rem #8843f2;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: #ef2f88;
  box-shadow: 0 0.25rem 0.5rem #ef2f88;
  border-color: #8843f2;
}

.btn:disabled {
  box-shadow: none;
  border-width: 0 0 0.1rem;
}

.pressed,
.pressed:focus,
.pressed:active {
  background-color: #f47340;
  border-width: 0 0 0.1rem;
}

.pressed:hover {
  background-color: #ef2f88;
}

#play {
  margin: 1.5rem auto 1rem;
  width: 9rem;
}

.form-label {
  font-weight: 600;
}

.row {
  margin: auto 0;
}

.form-control {
  text-align: center;
  /* width: 7rem; */
}

.form-range {
  margin: 0 auto 3%;
}

.form-range::-webkit-slider-runnable-track {
  background: #f47340;
}

.form-range::-moz-range-track {
  background: #f47340;
}

.form-range::-webkit-slider-thumb {
  background: #8843f2;
}

.form-range::-moz-range-thumb {
  background: #8843f2;
}

.report {
  padding: 0 15%;
}

.name-input {
  /* width: 15rem; */
  margin: 4% 0 3%;
}

hr {
  margin: 4% 0;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #8843f2;
}

/* The following color palette was used:
https://colorhunt.co/palette/f9d371f47340ef2f888843f2 */
