body {
  font-family: "Montserrat";
  background-color: #F9D371;
  color: black;
  text-align: center;
}

::selection {
  background-color: #B285F7;
}

.main-div {
  width: 50%;
  margin: 1.5rem auto;
}

@media (max-width: 1200px) {
  .main-div {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .main-div {
    width: 80%;
  }
}

.container-fluid {
  padding: 3% 0;
}

.row {
  margin: 0;
}

p {
  margin: 4% 0 15px;
  line-height: 1.5rem;
}

.btn, .btn:active, .btn:focus, .btn:disabled {
  transition-duration: 0.25s;
  background-color: #F47340;
  color: white;
  border-width: 0 0 0.3rem;
  border-color: #8843F2;
  box-shadow: 0 0.25rem 0.5rem #8843F2;
  border-radius: 0.25rem;
}

.btn:hover {
  background-color: #EF2F88;
  box-shadow: 0 0.25rem 0.5rem #EF2F88;
  border-color: #8843F2;
}

.btn:disabled {
  box-shadow: none;
  border-width: 0 0 0.1rem;
}

.pressed, .pressed:focus, .pressed:active {
  background-color: #F47340;
  border-width: 0 0 0.1rem;
}

.pressed:hover {
  background-color: #EF2F88;
}

#play {
  width: 10rem;
}

.form-range {
  margin: 1% 0 0;
}

.form-range::-webkit-slider-runnable-track {
  background: #F47340;
}

.form-range::-moz-range-track {
  background: #F47340;
}

.form-range::-webkit-slider-thumb {
  background: #8843F2;
}

.form-range::-moz-range-thumb {
  background: #8843F2;
}

.name-input {
  width: 50%;
  margin: 0 auto;
}


/* The following color palette was used:
https://colorhunt.co/palette/f9d371f47340ef2f888843f2 */
